#services
    .textbox
        padding-bottom: 50px
    .box
        display: flex
        justify-content: center
        .icon
            display: flex
            justify-content: center
            align-items: center
    @media screen and ( max-width: 768px  )
        .textbox
            padding: 0 0 50px
